{{ if .Site.Data.homepage.experience.enable }}
<section class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                {{ range .Site.Data.homepage.experience.items }}
                <div class="experience">
                    <div class="experience__date">{{ .duration }}</div>
                    <div class="experience__title">{{ .title }}</div>
                    <div class="experience__company">{{ .company }}</div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-sm-6">
                <h2>{{ .Site.Data.homepage.experience.title }}</h2>
                <p class="lead">
                    {{ .Site.Data.homepage.experience.description }}
                </p>
                <img class="lozad img-responsive"
                    src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                    data-src="{{ .Site.Data.homepage.experience.image.x | absURL }}"
                    data-srcset="{{ .Site.Data.homepage.experience.image.x | absURL }} 1x, {{ .Site.Data.homepage.experience.image._2x | absURL }} 2x"
                    alt="experience stack" />
                <br/>
                <a href="{{ .Site.Params.social.linkedin | absURL }}" class="btn btn-primary"
                    target="_blank">
                    <i class="{{ .Site.Data.homepage.experience.button.icon }}"></i>
                    {{ .Site.Data.homepage.experience.button.btnText }}
                    <i class="icon-arrow-right"></i></a>
                <a href="{{ .Site.Data.homepage.experience.button2.URL | absURL }}" class="btn btn-frameless"
                    target="_blank">
                    <i class="{{ .Site.Data.homepage.experience.button2.icon }}"></i>
                    {{ .Site.Data.homepage.experience.button2.btnText }}
                </a>
            </div>
        </div>
    </div>
</section>
{{ end }}