<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">

<head>

    {{ partial "head.html" . }}

    {{ partial "head_custom.html" . }}

</head>

<body>

	{{ partial "header.html" . }}

	{{ partial "showcase.html" . }}

	{{ partial "about.html" . }}

	{{ partial "education.html" . }}

	{{ partial "experience.html" . }}

	{{ partial "badges.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "contact.html" . }}

    {{ partial "newsletter.html" . }}

	{{ partial "footer.html" . }}

    {{ partial "base-foot.html" . }}
</body>

</html>
<!-- endinject -->